 body {
    background-image: linear-gradient(to right, rgba(190, 7, 93, 0), rgb(253, 253, 253)); /* Adjust the gradient colors */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-end; 
     align-items: center;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    background-position: left;
 }

/* Style for the login form */
.login-form {
    width: 500px; /* Increased the width of the login form */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

/* Style for the smaller circular logo */
.logo-small {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.logo-small img {
    width: 100%;
    height: auto;
}

/* Style for the welcome message */
.welcome-message {
    margin-bottom: 20px;
}

.welcome-message h2 {
    color: #333;
    font-size: 24px;
}

/* Style for the login form fields */
.form-fields {
    width: 100%;
    text-align: left;
}

.input-field {
    margin: 15px 0;
}

/* .input-field input {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */
.input-field input {
    width: 100%;
    max-width: 90%; /* Add this line to limit the width to 100% of the parent container */
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.button-container {
    margin-top: 20px;
}

form button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

.login-form p {
    margin-top: 10px;
}






/* Style for the left image container */
/* Style for the left image container */
/* Style for the left image container */
.left-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%; /* Increase the width as needed */
    height: 100%; /* Make the image cover the entire height of the page */
}

/* Apply float: left; to the img element */
.left-image img {
    float: left; /* Move the image to the left */
    width: 100%; /* Ensure the image takes up the entire container width */
    height: auto; /* Maintain the aspect ratio of the image */
}





